<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Bolt\Boltpay\Helper\Order">
        <plugin name="bolt_j2trewardpointssupport_bolt_boltpay_helper_order"
                type="Bolt\J2tRewardpointsSupport\Plugin\Bolt\Boltpay\Helper\OrderPlugin"/>
    </type>
    <type name="Bolt\Boltpay\Helper\Cart">
        <plugin name="bolt_j2trewardpointssupport_bolt_boltpay_helper_cart"
                type="Bolt\J2tRewardpointsSupport\Plugin\Bolt\Boltpay\Helper\CartPlugin"/>
    </type>
    <type name="Bolt\Boltpay\Helper\Discount">
        <plugin name="bolt_j2trewardpointssupport_bolt_boltpay_helper_discount"
                type="Bolt\J2tRewardpointsSupport\Plugin\Bolt\Boltpay\Helper\DiscountPlugin"/>
    </type>
    <type name="Bolt\Boltpay\Block\Js">
        <plugin name="bolt_j2trewardpointssupport_bolt_boltpay_block_js"
                type="Bolt\J2tRewardpointsSupport\Plugin\Bolt\Boltpay\Block\Js\JsPlugin"/>
    </type>
    <type name="Bolt\Boltpay\Model\Api\UpdateCart">
        <plugin name="bolt_j2trewardpointssupport_bolt_boltpay_model_api_updatecart"
                type="Bolt\J2tRewardpointsSupport\Plugin\Bolt\Boltpay\Model\Api\UpdateCartPlugin"/>
    </type>
</config>
