<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Bolt_J2tRewardpointsSupport">
        <sequence>
            <module name="Bolt_Boltpay"/>
            <module name="J2t_Rewardpoints"/>
        </sequence>
    </module>
</config>
